@page
@model Hackaton.App.Frontend.Pages.ListMigranteModel
}

<h1>Listado de Migrantes</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Tipo de Documento</th>
      <th scope="col">Numero de Documento</th>
      <th scope="col">Pais de Origen</th>
      <th scope="col">Fecha de nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Telefono</th>
      <th scope="col">Direccion Actual</th>
      <th scope="col">Ciudad</th>
      <th scope="col">Situacion Laboral</th>


    </tr>
  </thead>
  @foreach (var migrante in Model.Migrantes)
    {
        <tr>
            <td>@migrante.id</td>
            <td>@migrante.nombre</td>
            <td>@migrante.apellidos</td>
            <td>@migrante.tipo_documento</td>
            <td>@migrante.identificacion</td>
            <td>@migrante.pais_origen</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@migrante.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" asp-page="./Edit" asp-route-busId="@migrante.id">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>

